.logout-btn {
  background-color: transparent;
  border: none;
  color: #f00;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  transition: color 0.3s;
  width: 5%;
}

.logout-btn:hover {
  color: #c00;
}
